button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c4d81;
  border: none;
  border-radius: 0.5rem;
  // border-top-left-radius: 0.5rem;
  // border-top-right-radius: 0.5rem;
  outline: none;
  padding: 0.05rem;
  width: 2rem;
  height: 2rem;
  color: #c2cfde;
  cursor: pointer;
  transition: all 0.3s ease;
    &:hover,
    &:active{
    background-color: #3f75ad;
  }

}

.material-icons-outlined{
  font-size: 3rem;

}
