:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  // padding-right: calc(100vw - 100% + 1.5rem);
  background-color: #a3a3a3;
  gap: calc(100% - 190rem);
  position: relative;
}

.header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  max-width: 100rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {

}
