:host{
  min-width: 100vw;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  background-color: #a3a3a3;
  gap: calc(100% - 140rem);
  position: relative;
}

.header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  max-width: 100rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {

}
