@import url(normalize.css);
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$primary-color: #30bced;
$secondary-color: #f5a623;
$background-color: #ffffff;
$text-color: #191919;

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

}

html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
 }
body {
  background: $background-color;
  color: $text-color;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input{
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

input {
  height: 3.2rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  outline: none;
  border: 0.1rem solid #181851;

}

input:focus::placeholder {
  color: transparent;
}
