.login{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter 0.3s ease;
  height: 3.2rem;
  width: 3.2rem;
  flex-shrink: 0;
}

.login-icon{
  width: 100%;

}


.login-icon:hover{
  filter: brightness(0.8);
}
