// .settings-button{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   transition: filter 0.3s ease;
//   width: 4rem;
//   height: 4rem;
//   flex-shrink: 0;
// }

// .settings-icon{
//   width: 100%;
//   flex-shrink: 0;
// }


// .settings-icon:hover{
//   filter: brightness(0.8);
// }

button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c4d81;
  border: none;
  border-radius: 0.5rem;
  padding: 0.05rem;
  width: 3.2rem;
  height: 3.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
    &:hover{
    background-color: #3f75ad;
  }
}
.active{
  background-color: #3f75ad;
  // scale: 1.1;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
